
html {
    padding: 0;
    height: 100%;
    font-family: Arial Narrow,Arial,sans-serif;
}
body {
    height: 100%;
    margin: 0;
    padding: 0;
    padding-top: 1rem;
    padding-left: 0;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: max-content 100px auto 50px;
    grid-template-columns: 150px auto auto auto;
    grid-template-areas: 
    'header header header header'
    'localNav main main main '
    'localNav main main main '
 'footer footer footer footer';
}

header{
   display: flex;
   justify-content: flex-end;
   align-items: center;
   padding: 5px 15%;
   grid-area: header;
   padding-left: 50px;
}

button {
    padding: 9px 25px;
    background-color:  rgb(114, 208, 214);
    border: none;
    border-radius: 5px;
    justify-content: end;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover {
    background-color: rgb(84, 247, 247);
}

.globalNav li a{
transition: all 0.3s;
}
.globalNav li a:hover {
    color: rgb(84, 247, 247);
}
img {
    width: 100px;
    border-radius: 15px;
}
.logo{
    border-radius: 0px;
    margin-right: auto;
}
.subImg{
    padding-top: 35px;
    width: auto;
    justify-content: center;
    max-width: 600px;
    padding-left: 300px;
    border-radius: 0px !important;
}

nav {
  height: 30px;
  transition: 1s;
}
nav ul{
    
    display: flex;
    flex-direction: row;
    gap: 5px;
    text-decoration: none;
    list-style-type: none;
    justify-content: space-evenly;

    padding-right: 25px;
    
}

nav a {
    border-radius: 5px 5px;
    text-decoration: none;
    text-align: right;
    text-size-adjust: bold;
    font-size: 25px;
    color: rgb(72, 180, 180);
}
.localNav {
    box-sizing: border-box;
    grid-area: localNav;
    margin-right: 0x;
    border: rgb(198, 252, 252) solid;
    max-width: 200px;
    overflow: auto;

    
}
.localNav ul {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    text-align:center;
    gap: 15px;
    
    
}

.search {
    width: 50px;
}
.localNav a {
    text-size-adjust: bold;
    font-size: 20px;
    color: rgb(43, 3, 13);
    
}

main {

grid-area: main;
width: 100%;
padding-left: 10px;
background-color: rgb(244, 244, 250);
}

h1 {
    text-align: center;
}

p {
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 20px;

}


aside{
  
box-sizing: content-box;
background-color: rgb(181, 244, 247);
min-width: 50px;
max-width: 200px;
grid-area: aside;  
height: 100%;
overflow: auto;

}

footer {
    background-color: rgb(198, 252, 252);
    grid-area: footer;
    
}
/*Booking*/

#book {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
   text-align: center;
   overflow: auto;
   width: fit-content;
   margin-bottom:10px;
   
}


#book figure {
 background-color: white;
 width: 200px;
 box-sizing: border-box;
 border-radius: 15px;
 transition: 1s;
 
}
#book figure:hover {
    box-shadow: 5px 5px 5px gray;
}
#book h2, a{
    margin: 5px;
    gap: 10px;
}
#book a {
    background-color:  rgb(114, 208, 214);
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    
}

#book img{
   min-width: 50px;
   width: 100%;
   overflow: auto;
}

/* form style */
.container {
    border-radius: 5px;
    background-color: #ffffff;
    padding: 20px;
    margin-right: 150px;
  }
input[type=submit] {
    background-color:  rgb(114, 208, 214);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  

  input[type=submit]:hover {
    background-color:  rgb(74, 183, 190);
  }
  input[type=text], input[type=tel], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
   
  }
 
  /* scheduele*/
  
  #mainschedule{
      background-color: rgb(244, 244, 250);
      width: 100%;
  }
  #schedule {
      display: flex;
      flex-wrap: wrap;
      text-align: center;
      column-gap: 50px;
      justify-content: center;
     
    
  }
  #schedule > div {
      background-color: white;
      box-sizing: border-box;
      border-radius: 10px 10px;
      font-size: 15px;
      width: 200px;
      transition: 1s;
  }
  #schedule > div:hover {
  box-shadow: 5px 5px 5px gray;
  }
  #schedule > div a {
    background-color:  rgb(114, 208, 214);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
  }
  #schedule p {
      font-size: 20px;
      
  }